* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f7fb;
    color: #172033;
    min-height: 100vh;
    padding: 50px 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 30px;
}

/* Toggle */

.toggle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.save {
    background: #dcfce7;
    color: #15803d;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.switch {
    position: relative;
    width: 55px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: #2563eb;
    border-radius: 30px;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 4px;
    top: 4px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider::before {
    transform: translateX(25px);
}

/* Cards */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    position: relative;
    background: white;
    padding: 35px 25px;
    border-radius: 18px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: #6b7280;
}

.card h3 {
    font-size: 42px;
    margin: 25px 0;
}

.card small {
    font-size: 15px;
    color: #777;
}

.card ul {
    list-style: none;
    text-align: left;
    margin: 25px 0;
}

.card li {
    margin: 15px 0;
    color: #4b5563;
}

.card li::before {
    content: "✓";
    color: green;
    font-weight: bold;
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

/* Badges */

.popular {
    border: 2px solid #2563eb;
}

.badge {
    position: absolute;
    top: 15px;
    right: -8px;
    background: #2563eb;
    color: white;
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 4px;
}

.best {
    background: #16a34a;
}

/* Mobile */

@media (max-width: 850px) {

    .cards {
        grid-template-columns: 1fr;
        max-width: 450px;
        margin: auto;
    }

    h1 {
        font-size: 32px;
    }
}
